<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="PB138 projekt"/>
    <meta name="author" content="Tomáš Jochec, Vojtěch Podhajský, Lucie Bartoňková"/>

    <title>Jídelní lístek | PB138 projekt</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <nav th:fragment="navbarFragment" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" th:href="@{/}">PB138 Projekt</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"><a href="/" th:href="@{/}"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Jídelní lístek</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${#httpServletRequest.getRequestURI() == '/food' ? 'active':''}"><a href="food" th:href="@{/food}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Přidat jídlo</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li sec:authorize="hasRole('ROLE_USER')">
                  <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                      <input hidden="hidden" type="submit" value="Sign Out"/>
                  </form> 
                  <a href="javascript: document.logoutForm.submit()">Odhlásit se</a>
              </li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}" sec:authorize="!hasRole('ROLE_USER')"><a href="login" th:href="@{/login}">Přihlásit se</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div> </nav>

    <div class="container">
      <div class="row" th:each="menu : ${menus}">
        <div class="col-md-12">

          <h2 th:text="'Denní menu '+ ${menu.startDate} + ' - ' + ${menu.endDate}">13. 6. 2016 - 19. 6. 2016</h2>
          <br/>

          <table th:each="entry : ${foodMap}" class="table table-hover table-condensed">
            <thead>
              <th class="col-md-2"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <span th:text="${entry.key}"></span></th>
            </thead>
            <tbody>
                <tr th:each="food, i : ${entry.value}">
                  <td th:text="${i.count} + '.'" class="col-md-1"></td>
                  <td th:text="${food.name}" class="col-md-7"></td>
                  <td th:text="${food.price} + ' ,-'" class="col-md-1"></td>
                  <td class="col-md-1"><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/food/edit/{id}(id=${food.id})}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Upravit</a></td>
                  <td class="col-md-1"><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/food/delete/{id}(id=${food.id})}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Smazat</a></td>
                  <td class="col-md-1"><a sec:authorize="hasRole('ROLE_USER')" th:href="${food.id}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Objednat</a></td>
                </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
